.homepage {
    background-color: black;
    background-image: url(https://tse2.mm.bing.net/th?id=OIP.IwnFair_YBSecZiRavBXLgHaE7&pid=Api&P=0&w=284&h=190);
}

.pagetop {
    text-align: center;
    color: black;
    font-size: 40px;
}

.help {
    background-color: red;
    color:white;
    text-align: center;
    display: inline-block;
    font-size: 100px;
    border-radius: 50px;
    margin-left: 800px;
}

.home {
    background-color:blue;
    color: white;
    text-align: center;
    font-size:100px;
}

.waiting {
    background-color: black;
}

.waitingheader {
    color: aqua;
    text-align: center;
}

.login {
    background-color: black;
    color:white;
    text-align: center;
}

.loginheader {
    color: red;
    text-align: center;
}

.loginclick {
    background-color: blue;
    color:white
}

.loginclick1 {
    background-color: black;
    color:white;
    margin-left: 820px;
}

.register {
    background-color: blue;
    color:white;
}

.registerpage {
    background-color: black;
    color:white;
}

.registerheader {
    color: aqua;
    text-align: center;
}

.registertext {
    color:red;
    text-align: center;
    font-size: 25px;
}

.registername {
    text-align: center;
}

.registerpw {
    text-align: center;
}

.mainTitle {
    -ms-transform: translateY(-50%);
    transform: translateY(+10%);
}

.helptext {
    text-align: center;
    color: white;
    font-size: 25px;
}

.registerclick {
    text-align: center;
    background-color: aquamarine;
    color: black;
    font-size:25px;
    margin-left: 800px;
}

.aboutheader {
    text-align: center;
    color: white;
    font-size: 40px;
}

.abouttext {
    text-align: center;
    color:white;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about {
    text-align: center;
    color: white;
    background-color: blueviolet;
    font-size: 14px;
}

.aboutpage {
    background-color: black;
}

.tipspage {
    background-color: black;
    color: white;
}
.tips {
    background-color: red;
    color:white;
}

.tipsheader {
    text-align: center;
}

.tipstext {
    text-align: center;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.weather {
    background-color: black;
    color: white;
    text-align: center;
}